@import 'partials/_variables.scss';
@import 'partials/_normalize.scss';
@import 'partials/_mixins.scss';
@import 'partials/_common.scss';
@import 'partials/_header.scss';
@import 'partials/_content.scss';
@import 'partials/_footer.scss';
