body.debug [class*="col-"] {
  height: 300px;
  border: 2px solid blue;
}

body.debug .container {
  border: 5px solid red;
}

body.debug [class*="col-"] > .container > [class*="col-"] {
  height: 280px;
  border: 2px solid blue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1 {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12 * 2);
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: calc(100%/12 * 4);
}

.col-5 {
  width: calc(100%/12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100%/12 * 7);
}

.col-8 {
  width: calc(100%/12 * 8);
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: calc(100%/12 * 10);
}

.col-11 {
  width: calc(100%/12 * 11);
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: calc(100%/12);
}

.col-offset-2 {
  margin-left: calc(100%/12 * 2);
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: calc(100%/12 * 4);
}

.col-offset-5 {
  margin-left: calc(100%/12 * 5);
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: calc(100%/12 * 7);
}

.col-offset-8 {
  margin-left: calc(100%/12 * 8);
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: calc(100%/12 * 10);
}

.col-offset-11 {
  margin-left: calc(100%/12 * 11);
}

.col-offset-12 {
  margin-left: 100%;
}
