<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Emails</title>
</head>
<body>
  <div id="root">
    <ol v-if="emails.length == 10">
      <li v-for="email in emails">
        {{ email }}
      </li>
    </ol>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
