* {
  margin:0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#icone {
  display: flex;
  flex-wrap: wrap;
}

#icone > div {
  width: calc(100%/5 - 80px);
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-blue {
  color: blue;
}

.color-orange {
  color: orange;
}

.color-purple {
  color: purple;
}
