* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #D8D8D8;
  text-align: center;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
}

nav .logo {
  display: inline-block;
}

nav .logo img {
  height: 32px;
  vertical-align: middle;
}

nav ul {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

nav ul li {
  display: inline;
  padding-left: 15px;
}

nav ul li a {
  color: #5B7085;
  text-decoration: none;
}

main {
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

.img-jumbo {
  height: 100%;
  background: url('../img/aeroporto.jpg') no-repeat center center fixed;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.title {
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
