<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue ToDo List</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="./master.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <h1>To Do List</h1>
      <ul class="todos">
        <li v-for="todo in todosComputed">
          <!-- Nel :class ho barrato se status è done -->
          <span
            class="title"
            :class="(todo.status == 'done') ? 'barrato' : ''">
            {{ todo.title }}
          </span>
          <span
            v-if="todo.status != 'done'"
            class="controls check"
            @click="check(todo)">
              <i class="fas fa-check"></i>
          </span>
          <span v-if="todo.status != 'done'" class="controls edit"><i class="far fa-edit"></i></span>
          <span
            v-if="todo.status == 'done'"
            class="controls delete"
            @click="remove(todo)">
            <i class="fas fa-trash"></i>
          </span>
        </li>
      </ul>
      <input
        v-model="inputTxt"
        class="write"
        type="text"
        placeholder="Inserisci il tuo todo"
        @keyup.enter="add">
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./main.js" charset="utf-8"></script>
</body>
</html>
