.active {
  color: blue;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.container-flex .card {
  width: calc(100%/6 - 20px);
  margin: 0 10px;
  text-transform: uppercase;
}

.container-flex .card .thumb {
  height: 200px;
  overflow: hidden;
}

